<!-- visual/banner of the page -->
<section class="visual visual-sub visual-no-bg">
    <div class="visual-inner no-overlay bg-gray-light">
        <div class="centered">
            <div class="container">
                <div class="visual-text visual-center">
                    <h1 class="visual-title visual-sub-title">{{ page.title | default: site.title }}</h1>
                    <div class="breadcrumb-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"> Home </a></li>
                            <li class="breadcrumb-item active"> {{ page.title | default: site.title }} </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/visual/banner of the page -->
